.title {
  font-size: 25.5px;
}

.toolbar {
  min-height: 55px;
}

.badgeStyle {
  padding: 10px;
}

.expensesCard {
  padding-bottom: 30px;
}

.dateStyle {
  display: block;
  font-size: 85%;
  color: gray;
}

.modalButtons {
  text-align: center;
}

.expenseButton:last-child {
  width: 90%;
}

.closeButton {
  z-index: 100000000000;
}
